<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BaseUrl" value="http://10.0.0.2:8123" />
    <add key="Token" value="Bearer AddYourLongLifeTokenHere" />
    <add key="SuspendScene" value="scene.laptop_off" />
    <add key="ResumeSuspendScene" value="scene.laptop_on" />
    <add key="LogToFile" value="false"/>
    <add key="LogLocation" value="D:\HAService\"/>
  </appSettings>  
</configuration>